:root {
  --main-black: #000;
  --main-white: #fff;
  --main-paper-color: #4865f4;
  --main-rock-color: #dc2e4e;
  --main-scissors-color: #ec9e0e;
  --score-text: hsl(229, 64%, 46%);
  --dark-text: hsl(229, 25%, 31%);
  --default-font-size: 1.5rem;
  --font-size-large: 2.5rem;
  --border-radius: 5px;
  --center-align: 0 auto;
  --main-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

*,
*::before,
*::after *:focus {
  box-sizing: border-box;
  outline: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input {
  margin: 0;
}

label {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.signInContainer {
  display: flex;
  justify-content: center;
}

.signInBox {
  padding: 4rem;
  margin-top: 30rem;
  width: 50%;
  text-align: center;
}

.input {
  border-radius: 50rem;
  border-style: none;
  margin-bottom: 4rem;
  padding: 2rem;
  width: 70%;
}

.submitContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.submit {
  width: 20%;
  padding: 1.5rem;
  border-radius: 50rem;
  border-style: none;
  font-size: 1.5rem;
  color: var(--main-white);
  background-color: var(--main-paper-color);
  cursor: pointer;
}
